<personallist ID="User-id">
    <event>
        <id>1</id>
        <date>2024-04-23</date>
        <start_time>08:00</start_time>
        <end_time>16:00</end_time>
        <location>Room 201</location>
        <speaker>
            <name>Jane Smith</name>
            <email>jane.smith@example.com</email>
            <company>ABC Corporation</company>
        </speaker>
        <max_registrations>30</max_registrations>
        <available_seats>10</available_seats>
        <description>Introduction to XML</description>
    </event>
    <!-- When signed up for more events, they will show here -->
</personallist>